.App {
  background: rgb(21,58,240);
  background: linear-gradient(207deg, rgba(21,58,240,1) 8%, rgba(0,0,0,1) 72%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

